<%
  content_for(:title) { "Device: #{device.name}" }
  content_for(:description) { device.description }

  if device.inventory_image
    content_for(:social_image) { "https://creativemode.guide#{device.inventory_image}" }
  end
%>

<% content_for :on_this_page do %>
  <h6>On this page</h6>
  <ul class="list-unstyled">
    <% if device.notes %>
      <li><a href="#notes">Notes</a></li>
    <% end %>
    <% if device_recipes(device).present? %>
      <li><a href="#recipes">Recipes</a></li>
    <% end %>
    <% if device.videos %>
      <li><a href="#videos">Videos</a></li>
    <% end %>
    <% if device.options %>
      <li>
        <a href="#options">Device Options</a>
        <ul class="list-unstyled ms-3">
          <% device.options.each do |option| %>
            <li><a href="#<%= option.name.parameterize %>"><%= option.name %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if device.receivers %>
      <li><a href="#receivers">Receivers</a></li>
    <% end %>
    <% if device.transmitters %>
      <li><a href="#transmitters">Transmitters</a></li>
    <% end %>
  </ul>
<% end %>

<% if device.categories %>
  <p>
    <% device.categories.each do |category| %>
      <span class="badge rounded-pill bg-primary"><%= category %></span>
    <% end %>
  </p>
<% end %>

<% if device.inventory_image %>
  <%= image_tag device.inventory_image, class: "img img-fluid img-thumbnail", width: 256, height: 256 %>
<% end %>

<% if device.notes %>
  <h2 id="notes">Notes</h2>

  <%= md2html(device.notes) %>
<% end %>

<% if device_recipes(device).present? %>
  <h2 id="recipes">Recipes</h2>

  <p>The following recipes use a <%= device.name %>:</p>

  <ul>
    <% device_recipes(device).each do |recipe| %>
      <li><%= link_to recipe[1].name, "/recipes/#{recipe[0]}" %></li>
    <% end %>
  </ul>
<% end %>

<% if device.videos %>
  <h2 id="videos">Videos</h2>

  <% device.videos.each do |video| %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video %>" allowfullscreen></iframe>
    </div>
  <% end %>
<% end %>

<% if device.options %>
  <h2 id="options">Device Options</h2>

  <small>Note: The default value for an option is highlighted.</small>

  <% device.options.each do |option| %>
    <h3 id="<%= option.name.parameterize %>"><%= option.name %></h3>

    <%= md2html(option.description) %>

    <% if option.choices %>
      <table class="table table-sm">
        <colgroup>
          <col class="col-md-2">
          <col class="col-md-4">
        </colgroup>
        <thead>
        <tr>
          <th>Value</th>
          <th>Description &amp; Notes</th>
        </tr>
        </thead>

        <tbody>
        <% option.choices.each do |choice| %>
          <tr class="<%= "table-secondary" if choice.isDefault %>">
            <td>
              <%= choice.name %>
            </td>
            <td>
              <i><%= md2html(choice.description) %></i>
              <%= md2html(choice.notes) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <%= md2html(option.notes) %>

  <% end %>
<% end %>

<% if device.receivers %>
  <h2 id="receivers">Receivers</h2>

  <table class="table table-sm">
    <colgroup>
      <col class="col-md-2">
      <col class="col-md-4">
    </colgroup>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description &amp; Notes</th>
    </tr>
    </thead>
    <tbody>

    <% device.receivers.each do |receiver| %>
      <tr>
        <td>
          <%= receiver.name %>
        </td>
        <td>
          <i><%= md2html(receiver.description) %></i>

          <%= md2html(receiver.notes) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if device.transmitters %>
  <h2 id="transmitters">Transmitters</h2>

  <table class="table table-sm">
    <colgroup>
      <col class="col-md-2">
      <col class="col-md-4">
    </colgroup>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description &amp; Notes</th>
    </tr>
    </thead>
    <tbody>

    <% device.transmitters.each do |transmitter| %>
      <tr>
        <td>
          <%= transmitter.name %>
        </td>
        <td>
          <i><%= md2html(transmitter.description) %></i>

          <%= md2html(transmitter.notes) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
