<% content_for :title do %>Recipe: <%= recipe.name %><% end %>
<% content_for :description do %><%= recipe.description %><% end %>

<% content_for :on_this_page do %>
  <h6>On this page</h6>
  <ul class="list-unstyled">
    <li><a href="#overview">Overview</a></li>
    <li><a href="#steps">Steps</a></li>
    <li><a href="#exercises">Exercises</a></li>
  </ul>
<% end %>

<h2 id="overview">Overview</h2>

<%= md2html(recipe.overview) %>

<% if recipe.screenshot %>
  <%= image_tag recipe.screenshot, class: "img img-fluid img-thumgnail" %>
<% end %>

<h2 id="steps">Steps</h2>

<%= md2html(recipe.steps) %>

<h2 id="exercises">Exercises</h2>

<%= md2html(recipe.exercises) %>
